<!DOCTYPE html>

<style>
    body {
        background: url('/css/FieldBackground.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    td {
        white-space: nowrap;
    }
</style>

<html lang="en">

<head>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Head to Head Fantasy Football</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"-->
    <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /-->
    <!--link rel="stylesheet" href="~/css/site.css" /-->
</head>



<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <!--div class="container"-->
            <!--a class="navbar-brand" asp-area="" asp-controller="Scoreboard" asp-action="Index">Scoreboard</a-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font-weight:normal; font-size:12px" asp-controller="Scoreboard" asp-action="Index">Scoreboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font-weight:normal; font-size:12px" asp-area="" asp-controller="Standings" asp-action="Index">Standings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font-weight:normal; font-size:12px" asp-area="" asp-controller="Insights" asp-action="Index">Insights</a>
                    </li>
                </ul>
            </div>
            <!--/div-->
        </nav>
    </header>

    <div class="container" style="width:100%">
        <!--div class="card border-0 shadow my-5"-->
            <div class="card-body pb-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        <!--/div-->
    </div>

    <div class="container" style="width:100%">
        <footer class="border-top footer text-muted">
            <div class="card border-0 shadow my-5">
                <div class="card-body pb-3">
                    &copy; 2021 - FantasyFootballStatTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>
    </div>

    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script-->
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>