@model List<OwnerStats>

@{
    ViewData["Title"] = "Standings";
}

<style>
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<br />

<div class="table border-0">
    <!--div class="col-xs-12"-->
    <!--h2 class="heading-section text-center">Standings</h2>
    <br-->
    <!--table class="table table-sm"-->
    <!--table class="table border-0" style="border-collapse:collapse">
        <tr>
            <td>
                Standings
            </td>
        </tr>
        <tr>
            <td-->
            <table class="table border-0" style="border-collapse:collapse">
                <thead class="table-dark">
                    <tr>
                        <th>Owner</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Streak</th>
                        <th>Total Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ownerStats in Model)
                    {
                        byte[] bytes = (byte[])ownerStats.OwnerLogo;
                        string base64String = Convert.ToBase64String(bytes, 0, bytes.Length);
                        var logoSource = "data:image/png;base64," + base64String;

                        <tr>
                            <td style="line-height: 0; padding: 15px; margin: 5px; vertical-align: middle;">
                                <img class="img-fluid" style="width: 90px; height: 90px" src=@logoSource />
                            </td>
                            <td style="vertical-align: middle">@ownerStats.Wins</td>
                            <td style="vertical-align: middle">@ownerStats.Losses</td>
                            <td style="vertical-align: middle">@ownerStats.Streak</td>
                            <td style="vertical-align: middle">@ownerStats.TotalPoints.ToString("0.00")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--/td>
        </tr>
     </table-->
</div>