@{
    ViewData["Title"] = "Scoreboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .button {
            background: #2079b0;
            padding: 6px;
            border-radius: 8px;
            color: white;
            transition: .6s;
        }

        .button:hover {
            background: #7ba6c0;
            text-decoration: none;
            cursor: pointer;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 20%;
            color: darkblue;
            text-align: center;
            font-weight: bold;
        }

        #txtFilter {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
        }

        #allPlayersUL, #selectedPlayersUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #allPlayersUL li, #selectedPlayersUL li {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

        #allPlayersUL li:hover:not(.header), #selectedPlayersUL li:hover:not(.header) {
            background-color: #eee;
            cursor: pointer;
        }

        a, a:hover:not(.header) {
            text-decoration: none;
        }

        /* The "x" button to remove a player from the selected players list */
        .remove {
            cursor: pointer;
        }

        .remove:hover {
            background: #bbb;
        }

        .qb {
            background-color: peru;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .wr {
            background-color: blue;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .rb {
            background-color: red;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .te {
            background-color: purple;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .def {
            background-color: olivedrab;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .pk {
            background-color: green;
            color: white;
            width: 30px;
            font-weight: bold;
            text-align: center;
            padding: 1% 3%;
            font-size: 12px;
            border-radius: 20%;
        }

        .abbr {
            width: 30px;
            text-align: center;
            padding: 2px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <table style="border-collapse:inherit;margin: 0;margin-left: auto;margin-right: auto;float: none;width: 75%;vertical-align: middle;padding: 2px;border-spacing: 20px;">
        <tr>
            <td style="text-align: left">Search for player:</td>
            <td style="text-align: left">Selected Team:</td>
        </tr>
        <tr style="height: 300px;">
            <td style="width: 50%; vertical-align: top;">
                <input type="text" id="txtFilter" onkeyup="filterPlayers()" placeholder="Search for players" title="Type in a name">
                <ul id="allPlayersUL">
                </ul>
            </td>
            <td style="width: 50%; vertical-align: top;">
                <ul id="selectedPlayersUL">
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input id="btnSubmit" class="button" type="submit" value="Submit Team" />
            </td>
        </tr>
    </table>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p>Invalid roster.</p>
            <div style="color:black; font-weight: normal;">Please enter a valid roster</div>
            <br />
            <button style="width: 25%; align-self: center" class="button" id="closeBtn">Close</button>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // load the initial list of all players, which will be stored into a cached session variable
            GetAllPlayers();

            // handle when a player is clicked in the list
            $('#allPlayersUL').on('click', 'li', function() {
                // remove this item from the list
                $(this).remove();

                // hide all of the li's
                $('#allPlayersUL li').hide();

                // clear the text in the search box
                $("#txtFilter").val("");
                $("#txtFilter").focus();

                // add the item to the selected players list
                $("#selectedPlayersUL").append('<li id="' + $(this).attr('id') + '" playerName="' + $(this).attr('playerName') + '" position = "' + $(this).attr('position') + '" teamAbbreviation = "' + $(this).attr('teamAbbreviation') + '"><span class="' + $(this).attr('position').toLowerCase() + '">' + $(this).attr('position') + '</span>&nbsp;&nbsp;<a href="#">' + $(this).attr('playerName') + '</a>&nbsp;&nbsp;<span class="abbr">' + $(this).attr('teamAbbreviation').toUpperCase() + '</span><span class="remove" style="float: right;" onclick="removeSelectedPlayer(' + $(this).attr('id') + ')">x</span></li>');
            });

            // handle when the roster is submitted
            $('#btnSubmit').on('click', function () {
                submitRoster();
            });
        });
        // this function is called when the x button on a li in the selectedPlayersUL is clicked
        function removeSelectedPlayer(playerId) {
            // loop through all li's in the selected player list and remove the one with the playerId from the
            // selectedPlayersUL and add it back to the allPlayersUL
            $('#selectedPlayersUL li').each(function (index, item) {
                if ($(item).attr('id') == playerId) {
                    $(item).remove();

                    $("#allPlayersUL").append('<li style="display: none;" id="' + playerId + '" playerName="' + $(item).attr('playerName') + '" position="' + $(item).attr('position') + '" teamAbbreviation = "' + $(item).attr('teamAbbreviation') + '"><span class="' + $(item).attr('position').toLowerCase() + '">' + $(item).attr('position') + '</span>&nbsp;&nbsp;<a href="#">' + $(item).attr('playerName') + '</a>&nbsp;&nbsp;<span class="abbr">' + $(item).attr('teamAbbreviation').toUpperCase() + '</span></li>');
                }
            });
        }
        function filterPlayers() {
            var input = $("#txtFilter");
            var filter = input.val().toUpperCase();
            var ul = $("#allPlayersUL");
            var li = ul[0].getElementsByTagName("li");
            var txtValue;

            var matches = 0;

            // hide all of the li's
            $('#allPlayersUL li').hide();

            if (filter != "") {
                // loop through all list items and show the matches, but limit showing only the top 10 matches
                for (i = 0; i < li.length; i++) {
                    txtValue = $(li[i]).attr('playerName');

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        if (matches < 10) {
                            $(li[i]).show();
                        }
                        else {
                            break;
                        }

                        matches++;
                    }
                }
            }
        }
        function GetAllPlayers() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAllPlayers")",
                dataType: "json",
                success: function (players) {

                    // only populate and fill the filtered player list if there is at least one player returned
                    if (players.length > 0) {
                        var allPlayersUl = $('#allPlayersUL');

                        $.each(players, function (i, player) {
                            $(allPlayersUl).append('<li style="display: none;" id="' + player.espnPlayerId + '" playerName="' + player.playerName + '" position="' + player.position + '" teamAbbreviation="' + player.teamAbbreviation + '"><span class="' + player.position.toLowerCase() + '">' + player.position + '</span>&nbsp;&nbsp;&nbsp;<a href="#">' + player.playerName + '</a>&nbsp;&nbsp;<span class="abbr">' + player.teamAbbreviation.toUpperCase() + '</span></li>');
                        });
                    }
                }
            });
        }
        function submitRoster() {
            // get all selected player id's so this can be sent to the SaveRoster action in the SelectTeam controller
            let selectedPlayerIds = [];

            $('#selectedPlayersUL li').each(function (index, item) {
                selectedPlayerIds.push($(item).attr('id'));
            });

            var element = this;
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveRoster")",
                data: { week: @ViewData["Week"], ownerId: @ViewData["OwnerId"], selectedPlayerIds: selectedPlayerIds },
                dataType: "json",
                success: function (response) {
                    if (response.success == true) {
                        $(element).closest("form").submit();
                        window.location = response.redirectUrl;
                    }
                    else {
                        // get the modal
                        var modal = document.getElementById("myModal");

                        // get the button that closes the modal
                        var closeButton = document.getElementById("closeBtn");

                        // open the modal
                        modal.style.display = "block";

                        // when the user clicks on the close button, close the modal
                        closeButton.onclick = function () {
                            modal.style.display = "none";
                        }
                    }
                }
            });
        }
        function delay(fn, ms) {
            let timer = 0
            return function (...args) {
                clearTimeout(timer)
                timer = setTimeout(fn.bind(this, ...args), ms || 0)
            }
        }
    </script>
</body>
</html>